h1 {
	color: #111;
	font-weight: bold;
	text-align: center;
	margin: 80px 0;
}
h3 {
	color: #111;
	font-weight: normal;
	margin: 0 0 10px 0;
}
a {
	text-decoration: underline;
}

/* Для телефонов */
@media (max-width: 767px){
	h1 {
		font-size: 2em;
		margin: 40px 0;
	}
	h3 {
		font-size: 1.2em;
	}	
}

/* Для компьютеров */
@media (min-width: 768px){
	
}
