html, body {
    height: 100%;
}

.gray {
	color: #222;
}

div.page {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
}

div.page > div {
	width: 100%;
	height: 100%;
}

footer {
	height: 100px;
}

#main {
	height: 800px;
	background-image: url('/images/main.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;

}