html, body {
    height: 100%;
}

h1 {
	color: #111;
	font-weight: bold;
	text-align: center;
	margin: 80px 0;
}
h3 {
	color: #111;
	font-weight: normal;
	margin: 0 0 10px 0;
}

div.page {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #555;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
}

#main {
	height: 709px;
	background-image: url('/images/main.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#stages {
	height: 709px;
	background-image: url('/images/stages.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

footer {
	height: 100px;
}